<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd"
       default-init-method="init">
    <bean id="duke" class="com.springinaction.springidol.performers.Juggler">
        <constructor-arg name="email" value="duke@gmail.com"/>
        <constructor-arg name="beanBags" value="15"/>
    </bean>

    <bean id="poeticDuke" class="com.springinaction.springidol.performers.PoeticJuggler">
        <constructor-arg name="email" value="poeticDuke@gmail.com"/>
        <constructor-arg name="beanBags" value="#{4 * 5}"/>
        <constructor-arg name="poem" value="#{sonnet29}"/>
    </bean>

    <bean id="kenny" class="com.springinaction.springidol.performers.Instrumentalist"
          p:song="#{songSelector.selectSong()?.toUpperCase() == 'JINGLE BELLS' ? 'not gonna sing jingle bells!' : 'my song'}"
          p:age="37" p:instrument="#{saxophone}">
        <constructor-arg value="kenny@gmail.com"/>
    </bean>

    <bean id="kenny2" class="com.springinaction.springidol.performers.Instrumentalist"
          p:song="#{songSelector.selectSong()?.toUpperCase()}" p:instrument="#{piano}">
        <constructor-arg value="kenny2@gmail.com"/>
    </bean>

    <bean id="hank" class="com.springinaction.springidol.performers.OneManBand">
        <constructor-arg value="hank@gmail.com"/>
        <property name="instruments">
            <map>
                <entry key="GUITAR" value="#{guitar}"/>
                <entry key="CYMBAL" value="#{cymbal}"/>
                <entry key="HARMONICA" value="#{harmonica}"/>
            </map>
        </property>
    </bean>

    <bean id="hank2" class="com.springinaction.springidol.performers.OneManLightBand">
        <constructor-arg value="hank2@gmail.com"/>
        <property name="instrumentSounds">
            <map>
                <entry key="GUITAR"
                       value="#{T(com.springinaction.springidol.instruments.InstrumentSound).GUITAR.getSound()}"/>
                <entry key="CYMBAL"
                       value="#{T(com.springinaction.springidol.instruments.InstrumentSound).CYMBAL.getSound()}"/>
                <entry key="HARMONICA"
                       value="#{T(com.springinaction.springidol.instruments.InstrumentSound).HARMONICA.getSound()}"/>
            </map>
        </property>
    </bean>

    <bean id="hank3" class="com.springinaction.springidol.performers.OneManLighterBand">
        <constructor-arg value="hank3@gmail.com"/>
        <property name="instrumentSounds">
            <props>
                <prop key="GUITAR">
                    #{T(com.springinaction.springidol.instruments.InstrumentSound).GUITAR.getSound()}
                </prop>
                <prop key="CYMBAL">
                    #{T(com.springinaction.springidol.instruments.InstrumentSound).CYMBAL.getSound()}
                </prop>
                <prop key="HARMONICA">
                    #{T(com.springinaction.springidol.instruments.InstrumentSound).HARMONICA.getSound()}
                </prop>
                <prop key="SAXOPHONE">
                    #{T(com.springinaction.springidol.instruments.InstrumentSound).SAXOPHONE.getSound()}
                </prop>
                <prop key="PIANO">
                    #{T(com.springinaction.springidol.instruments.InstrumentSound).PIANO.getSound()}
                </prop>
            </props>
        </property>
    </bean>

    <bean id="carl" class="com.springinaction.springidol.performers.Instrumentalist"
          p:song="#{songSelector.selectSong()?.toUpperCase()}" p:age="#{kenny.age}"
          p:instrument="#{kenny.instrument}">
        <constructor-arg value="carl@gmail.com"/>
    </bean>

    <bean id="sonnet29" class="com.springinaction.springidol.poems.Sonnet29"/>

    <bean id="saxophone" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{T(com.springinaction.springidol.instruments.InstrumentSound).SAXOPHONE}"/>

    <bean id="piano" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{T(com.springinaction.springidol.instruments.InstrumentSound).PIANO}"/>

    <bean id="cymbal" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{T(com.springinaction.springidol.instruments.InstrumentSound).CYMBAL}"/>

    <bean id="guitar" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{T(com.springinaction.springidol.instruments.InstrumentSound).GUITAR}"/>

    <bean id="harmonica" class="com.springinaction.springidol.instruments.ContestInstrument"
          p:instrumentSound="#{T(com.springinaction.springidol.instruments.InstrumentSound).HARMONICA}"/>

    <bean id="theStage" class="com.springinaction.springidol.Stage" factory-method="getInstance"
          p:stageName="Carnegie Hall USA Special"/>

    <bean id="songSelector" class="com.springinaction.springidol.SongSelector" factory-method="getInstance"/>

    <bean id="ticket" class="com.springinaction.springidol.Ticket" scope="prototype">
        <constructor-arg value="#{theStage.stageName matches '.*USA.*'}"/>
    </bean>
</beans>